{% extends 'base.html' %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<br>
<h2>Todos Contra o Corona Vírus</h2>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h2>Sobre</h2>
        <p>Estes são tempos difíceis com o Covid-19. E as vezes, pessoas em grupo de risco tem que sair de casa para comprar algo</p>
        <p>Assim, esta aplicação, ainda em fase de implementação, tem como propósito nos unirmos e nos ajudarmos no combate ao vírus. Voluntários podem atender solicitações de pessoas no grupo de risco para realizar compras de forma voluntária para aqueles que não podem sair de casa. </p>
        <p>Seu uso é bem simples. Uma pessoa faz uma solicitação de uma lista de produtos, e deixa o contato. O voluntário poderá aceitar o pedido e combinar as formas de pagamento e de entrega dos produtos.</p>
        <p>E qual a recompensa? Várias vidas podem ser salvas!</p>
        <p>Vamos ajudar uns aos outros! =D</p>
        <p>App desenvolvido por Erick Faster, estudante de Ciência da Computação e Estagiário em Data Science (<a href="https://github.com/erick-faster">GitHub</a>)</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Ir aos pedidos &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}