{% extends 'base.html' %}

{% block head %}
<title>Início</title>
{% endblock %}

{% block body %}
<br>
<h2>Todos Contra o Corona Vírus</h2>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h2>Alô, velhinhos e velhinhas que moram em torno da UFABC</h2>
        <p>Escreva o que você precisa do mercado ou da farmácia, que nós buscamos pra vocês!</p>
        <p>Fiquem em casa e não se arrisquem! Corona Vírus é coisa séria.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Ir aos pedidos &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}