{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
       <span class="glyphicon glyphicon-ok"></span> <strong>Pedido Concluído!</strong>
        <hr class="message-inner-separator">
        <p>
            {{message}}</p>
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

<br>
<div>
    <h1 style="display:inline">Meus Pedidos</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/posts/new">+ Novo Pedido</a>
</div>
    <hr>


    {% for quest in quests %}
    <br>
        <h2>{{ quest.name }}</h2>

        {% if quest.user_id %}
            <small>Publicado em {{ quest.date_posted }} </small>
        {% else %}
        <small>Escrito por: Desconhecido(a)</small>
        

        {% endif %}
        <br>
        <small>Endereço: {{ quest.address }}</small>
        <br>

        {% if quest.done == "No" and quest.accepted == "Yes" %}
            <a class="btn btn-success" href='/my_posts/done/{{quest.id}}'>Tornar Concluído</a>
        {% endif %}

        {% if quest.done == "Yes" and quest.accepted == "Yes" %}
            <a href="#" class="btn btn-secondary disabled" role="button" aria-disabled="true">Pedido concluído</a>  
        {% endif %}

        <a class="btn btn-primary" href='/posts/new_item/{{quest.id}}'>Editar</a>
        <a class="btn btn-danger" href='/posts/delete/{{quest.id}}'>Deletar</a>
        <hr>
    {% endfor %}

{% endblock %}