{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button>
       <span class="glyphicon glyphicon-ok"></span> <strong>Pedido Aceito!</strong>
        <hr class="message-inner-separator">
        <p>
            {{message}}</p>
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>


<br>
<div>
    <h1 style="display:inline">Todos os Pedidos</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/login">+ Novo Pedido</a>
</div>
    <hr>


    {% for quest in quests %}
    <br>
        <h2>{{ quest.name }}</h2>

        {% if quest.userinfo_id %}
            <small>Escrito por: {{ quest.author }} em {{ quest.date_posted }} </small>
        {% else %}
        <small>Escrito por: Desconhecido(a)</small>
        

        {% endif %}
        <br>
        <small>Endereço: {{ quest.address }}</small>
        <br>

        {% if quest.accepted == "No" %}
            <a class="btn btn-success" href='/posts/accepted/{{quest.id}}'>Aceitar Pedido</a>
        {% else %}
            <a href="#" class="btn btn-secondary disabled" role="button" aria-disabled="true">Pedido indisponível</a>
        {% endif %}
        <a class="btn btn-primary" href='/posts/{{quest.id}}'>Ver Detalhes</a>
        <hr>
    {% endfor %}

{% endblock %}