{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}



{% block body %}

<br>
<div>
    <h1 style="display:inline">{{quest.name}}</h1>
    
    <a style="display:inline" class="btn btn-primary float-right" href="/posts">← Voltar</a>
    

</div>
    <small>Escrito por: {{ quest.author }} em {{ quest.date_posted}} </small>
    <br>
    <small>Endereço: {{ quest.address }} </small>
    <hr>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Preço</th>
          </tr>
        </thead>
        <tbody>

        {% set count = namespace(value=1) %}
        {% set total = namespace(value=0) %}

        {% for item in quest['items'] %}

            <tr>
                <th scope="row">{{ count.value }}</th>
                <td>{{ item.name }}</td>
                <td>{{ item.quantity }}</td>

                {% set item_price = item.price * item.quantity%}
                <td>R$ {{'%0.2f'|format(item_price|float)}}</td>
                
            </tr>

            {% set count.value = count.value + 1 %}
            {% set total.value = total.value + item_price %}


        {% endfor %}

            <tr class="table-info">
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td >Total: R$ {{'%0.2f'|format(total.value)}}</td>
            </tr>

        </tbody>
      </table>
      

{% endblock %}